.wrapper {
    height: 90vh;
    width: 100%;
}

.centred-logo {
    float: left;
}

.centred-text {
    float: left;
    padding-left: 20px;
    margin-top: -10px;
}

.centred-holder {
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    height: 30px;
    background: none repeat scroll 0 0 padding-box #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    vertical-align: top;
    top: 40%;
    left: 50%;
    width: 450px;
    position: absolute;
    margin-top: -15px;
    margin-left: -225px;
}

.left-empty {
    float: left;
    box-sizing: border-box;
    height: 100%;
    unicode-bidi: embed;
    white-space: nowrap;
}

.button-holder {
    float: right;
    vertical-align: top;
    font-size: 16px;
    padding: 4px 4px 2px 2px;
    position: relative;
    -moz-user-select: none;
    white-space: nowrap;
}

.a-button {
    cursor: pointer;
    padding: 0 4px;
    display: inline-block;
    text-decoration: none;
}

.span-button {
    vertical-align: middle;
    opacity: 0.6;
    display: inline-block;
    line-height: 0;
    height: 22px;
    width: 22px;
}

.input-holder {
    padding: 6px 9px 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.top-empty {
    position: relative;
    line-height: normal;
    white-space: nowrap;
}

.custom-input {
    border: medium none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 6;
    left: 0;
    outline: medium none;
    color: #222;
    font: 16px arial, sans-serif;
}

.supplement {
    display: none;
    min-width: 413px;
    position: absolute;
    text-align: left;
    height: 88px;
}

.fl {
    float: left;
}

.ul-wrapper {
    margin-left: -1px;
    margin-top: 1px;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CCC;
    border-top-color: #D9D9D9;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    height: 88px;
}

.previous-requests {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0 none;
    color: #222;
    font: 16px arial,sans-serif;
}

.previous-item{
    text-align: left;
    padding: 0 10px;
    line-height: 22px;
    overflow: hidden;
}

.previous-item:hover{
    background-color: rgb(229, 229, 229);
}

.item-wrapper{
    word-wrap: break-word;
    text-align: left;
}

.url-container{
    margin-top: 20px;
}

.link-container{
    margin-left: 20px;
    width: 70%;
}
.decorated-link {
    line-height: 0.1em;
}

a:link {
    color: #1A0DAB
}

a:visited {
    color: #660099
}

a:hover {
    color: #1b0df8
}

.composite-logo{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -185px;
}